<h1>I.AM.YOU STUDIO</h1>

<h2>Agreement of Release and Waiver of Liability</h2>

I hereby agree to the following:
<ol>
<li>That I am participating in yoga classes during which I will receive information and instruction
about yoga and health, and I will direct any questions to I.AM.YOU Studio staff if I do not
understand. I recognize that yoga requires physical exertion, which may be strenuous and may
cause physical injury, and I am fully aware of the risks and hazards involved.</li>

<li>I hereby state that I will inform I.AM.YOU Studio of any symptoms during my participation
in the yoga class that occur such as fatigue, shortness of breath, chest discomfort, or any pain or
discomfort for my safety and benefit.</li>

<li>I understand that it is my responsibility to consult with a physician prior to and regarding
my participation in yoga classes. I represent and warrant that I am physically fit and have no
medical condition that would prevent my participation in yoga classes.</li>

<li>In consideration of being permitted to participate in I.AM.YOU Studio yoga classes, I agree
to assume full responsibility for any risks, injuries or damages, known and unknown, which I
might incur as a result of participating in I.AM.YOU Studio yoga classes.</li>

<li>In further consideration of being permitted to participate in I.AM.YOU Studio yoga classes,
I knowingly, voluntarily, and expressly waive any claim I may have against the instructor,
the owner, or the leaseholder of the building at 132 Mulberry Street, New York, New York
10013, for injuries or damages that I may sustain as a result of participating in classes held by
I.AM.YOU Studio.</li>
</ol>
I have read the above release and waiver of liability and fully understand its contents. I
voluntarily agree to the terms and conditions stated above.
